.header {
    display: flex;

    .main-heading {
        margin: 0 auto;
    }

    .sort-class {
        position: absolute;
        right: 7%;
    }

    .sort-label {
        opacity: 0.5;
        margin-right: 8px;
    }

    .sort-by {
        text-transform: capitalize;
    }
}
