<div class="header">
    <h1 class="main-heading">All Products</h1>
    <div class="sort-class">
        <span class="sort-label">Sort By:</span>
        <button class="btn btn-outline-secondary dropdown-toggle sort-by" type="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false" style="margin-top: 6px;">Relevance</button>
        <div class="dropdown-menu dropdown-menu-right" style="z-index: 9999;">
            <a class="dropdown-item">Relevance</a>
            <a class="dropdown-item">Price: Low to High</a>
            <a class="dropdown-item">Price: High to Low</a>
        </div>
    </div>
</div>